<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="css/theme_extra.css">
</head>

<body>


    <footer role="contentinfo" aria-label="Rodapé do site">
        <div class="conteiner">
            <p class="instituicao-info">
                Universidade de Brasília - UnB
            </p>
            <p class="projeto-info">
                Projeto desenvolvido como atividade prática da disciplina de Interação Humano-Computador
            </p>
        </div>
    </footer>

</body>

</html>