<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
  <link rel="stylesheet" href="css/theme_extra.css">
</head>

<body>
  <header>
    <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
      <div style="display: flex; align-items: center;">
        <img src="assets/Nintendo.svg.png" alt="Logo da Nintendo" style="height: 70px; margin-right: 50px;" />
        <span class="logo">Pocket IHC - Verção 3.0</span>
      </div>
      <button onclick="mudar-tema"
        style="background: none; border: none; cursor: pointer; font-size: 24px; color: white;"
        aria-label="Acessar a seção de Login">
        <i class="fas fa-moon"></i>
      </button>
    </div>
  </header>
</body>

</html>