<!DOCTYPE html>
<html lang="pt-BR">

<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>navBarr</title>
  <link rel="stylesheet" href="css/theme.css">
</head>

<body>
  <nav class="main-nav" aria-label="navegação entre paginas">

    <div class="container">
      <ul>
        <li class="active"><a href="index.html" aria-label="pagina inicial">Início</a></li>
        <li><a href="non_text_content.html" aria-label="pagina de desenvolvimento">Desenvolvimento</a></li>
        <li><a href="design.html" aria-label="pagina de design">Design</a></li>
        <li><a href="conteudo.html" aria-label="pagina de conteúdo">Conteúdo</a></li>
        <li><a href="gestaoProjeto.html" aria-label="pagina de gestão de projetos">Gestão de Projetos</a> </li>
        <li><a href="WCAG.html" aria-label="pagina das normas WCAG">WCAG</a></li>
        <li><a href="ferramentas.html" aria-label="pagina de ferramentas de acessibilidade">Ferramentas de Acessibilidade</a></li>
      </ul>
    </div>
  </nav>
</body>

</html>